<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INSTACROPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col size="12">
      <ion-row *ngFor='let item of datos'>
        <ion-card>
          <ion-img [src]='item.image' (click)="ImprimirInfo(item)"></ion-img>
          <ion-header>
            <ion-card-title class='ion-text-center'> {{ item?.name }} </ion-card-title>
            <!-- <ion-card-subtitle class='ion-text-center'> {{ item?.price }} </ion-card-subtitle> -->
          </ion-header>
          <!-- <ion-card-content class='ion-text-wrap'> {{ item?.description }} </ion-card-content> -->
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>

</ion-content>
